.tweet-widgets{
    margin-left: 30px;
    background-color: #FAF6F6;
    width: 325px;
    /* margin-top: 120px; */
    height: 480px;
    border-radius: 10px;
    font-size: 12px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.block{
    width: 50px;
}

.twitter-tweet{
    margin-left: 20px;
}
/* ================================================== sroll bars ========================== */
.tweet-widgets::-webkit-scrollbar {
width: 12px;               /* width of the entire scrollbar */
}

.tweet-widgets::-webkit-scrollbar-track {
background: #192646;        /* color of the tracking area */
}

.tweet-widgets::-webkit-scrollbar-thumb {
background-color: #fff;    /* color of the scroll thumb */
border-radius: 20px;       /* roundness of the scroll thumb */
border: 2px solid #192646;  /* creates padding around scroll thumb */
}


.videos{
    float: right;
    margin-right: 20px;
    width: 350px;
    height: 480px;
    background-color: #FAF6F6;
    overflow-x: hidden;
    overflow-y: auto;
}
 iframe{
    width: 100px;
    height: 100px;
}

.twetter{
    margin-top: 65px;
}