.pdf-container-doc{
    padding-top: 30px;
    margin-left: 30vw;
    width: 40vw;
}
.pdf-container-doc span{
    font-size: 25px;
}
.pdf-container-doc i{
    color: darkred;
}
main{
    background: #faf6f6;
}