.contactUs-card {
    margin-left: 10vw;
}
.evangilist-card {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40vw;
    margin-left: 5vw;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
    display: inline-block;
}
.evangilist-card h2 {
    text-align: center;
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.evangilist-card li {
    list-style: none;
    margin-bottom: 30px;
}
.evangilist-card label {
    width: 130px;
}

.evangilist-card input {
    width: 360px;
    height: 46px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.evangilist-card textarea {
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    width: 360px;
    margin-left: 8.5vw;
}

.contact-side-content {
    margin-top: 20vh;
    margin-right: 10vw;
    float: right;
    width: 360px;
    padding: 30px;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.contact-side-content a {
    text-decoration: none;
    color: black;
}

.card-body button {
    border-radius: 10px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    background-color: #141313;
    text-align: center;
    color: #fff;
    margin-left: 8vw;
    width: 220px;
    height: 44px;
    margin-top: 10px;
}

@media (max-width: 574px) {
    .evangilist-card {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 90vw;
        margin-left: 3vw;
        background-color: #fff;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 0px 0px 10px 10px;
        display: inline-block;
    }
    .evangilist-card input {
        width: 330px;
    }
    .evangilist-card textarea {
        width: 330px;
        margin-left: 0.5vw;
    }

    .contact-side-content {
        margin-top: 7vh;
        float: none;
        margin-bottom: 30px;
        width: 340px;
        margin-left: 17px;
        width: 340px;
    }
}
